<h3>"Hello, I am your coach, what did you want to tell me?"</h3>

<%# action = link to page %>

<form action="/answer">
  <input type="text" name="answer" method="get">
  <input type="submit" value="Ask!">
</form>

